        body {
        font-family: 'Inter', sans-serif;
        background: linear-gradient(#1e2736, #273346 );
        color: #2e2416;
        height: 100vh;
        }
        .container {
            max-width: 900px;
            margin: 0 auto;
            padding: 2rem;
        }
        h1 {
            border-bottom: 2px solid #30363d;
            padding-bottom: 0.5rem;
            margin-bottom: 1.5rem;
            color: aliceblue;
        }
        p {
            margin-bottom: 1rem;
            line-height: 1.6;
            color : #8eb1da;
        }
        .back-link {
            display: inline-block;
            margin-bottom: 2rem;
            color: #58a6ff;
            text-decoration: none;
            transition: color 0.3s;
        }
        .back-link:hover {
            color: #79c0ff;
        }
        .form-group {
            margin-bottom: 1.5rem;
        }
        .form-group label {
            display: block;
            margin-bottom: 0.5rem;
        }
        .form-group input, .form-group textarea {
            width: 100%;
            padding: 0.75rem;
            background-color: #161b22;
            border: 1px solid #30363d;
            border-radius: 0.5rem;
            color: #c9d1d9;
            transition: border-color 0.3s;
        }
        .form-group input:focus, .form-group textarea:focus {
            outline: none;
            border-color: #58a6ff;
        }
        .submit-button {
            background-color: #238636;
            color: #fff;
            padding: 0.75rem 1.5rem;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .submit-button:hover {
            background-color: #2ea043;
        }
        .contact-info
            {
                margin-top: 2rem;
                padding: 1rem;
                border-radius: 0.5rem;
                background-color: #161b22;
                border: 1px solid #30363d;
                color: #c9d1d9;
                display: flex;
                flex-direction: column;
            }
        .contact-info p {
            margin-bottom: 1rem;
            text-decoration: none;
        }
        .contact-info p a {
            color: #58a6ff;
            text-decoration: none;
        }
        .message {
            margin-top: 1rem;
            padding: 1rem;
            border-radius: 0.5rem;
            background-color: #161b22;
            border: 1px solid #30363d;
            color: #c9d1d9;
            width: 80%;
        }
        .email {
            background-color: #161b22;
            border: 1px solid #30363d;
            color: #c9d1d9;
            padding: 5px;
            margin: 5px;
            width: 50%;
        }
        .send-button {
            background-color: #238636;
            color: #fff;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: background-color 0.3s;
            border: none;
        }
        .send-button:hover {
            background-color: #2ea043;
        }
        .name {
            background-color: #161b22;
            border: 1px solid #30363d;
            color: #c9d1d9;
            padding: 5px;
            margin: 5px;
            width: 50%;
            display: flex;
        }
        .pretext {
            font-family: 'Courier New', Courier, monospace;
            color: #adadad;
            font-size: 1rem;
            background-color: #161b22;
            border-radius: 10px;
            padding-top : 30px;
            padding-bottom: 30px;
            padding-left: 10px;
            margin-bottom: 30px;
        }
        .pretext p{
            color: aliceblue;
            align-items: left;
            display: flex;
        }
        label {
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;
            margin-left: 20px;
        }

        footer {
            width: 100%;
            bottom: 0;
            color: #56cfff;
            text-align: center;
            padding: 10px 0;
            background-color: #1e2736;
        }
        footer a {
            color: #58a6ff;
            text-decoration: none;
        }