body {
    font-family: Arial, sans-serif;
    background-image: url('https://www.tripsavvy.com/thmb/IN6_eelGUKTmFZzu7yQtHBzR-ZM=/2135x1404/filters:fill(auto,1)/DOlomites_DieterMeyrl_GettyImages-5c522231c9e77c0001d7655e.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header {
    text-align:center;
    border: solid 1px black;
    border-radius: 14px;
    color:red;
}
.content_after_header{
    text-align: center;
}
.lista_info {
    color:red
}