body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(#cdf0e7, #c5ddd1);
    color: #2e2416;
    height: 100vh;
    margin: 0;
    padding: 2rem;
}
.header {
    text-align: center;
    margin-bottom: 2rem;
}   
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.product {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
a {
    text-decoration: none;
    color: inherit;
}