body {
        font-family: 'Inter', sans-serif;
        background: linear-gradient(#1e2736, #273346 );
        color: #2e2416;
        height: 100%;
        margin:0;
        }
        header {
            padding: 1rem 2rem;
            background-color: #0d1117;
            border-bottom: 1px solid #30363d;
            margin-bottom: 2rem;
            display: flex;

        }
        .back-link {
            display: inline-block;
            margin-bottom: 2rem;
            color: #58a6ff;
            text-decoration: none;
            transition: color 0.3s;
        }
        .back-link:hover {
            color: #79c0ff;
        }
        .card {
            background-color: #161b22;
            border: 1px solid #30363d;
            border-radius: 0.5rem;
            padding: 2rem;
        }
        h1, h2, h3 {
            color: #58a6ff;
        }
        p,li {
            color: #38679e;
        }
        .image-container {
            width: 50%;
            height: 400px;
            background-color: #21262d;
            border-radius: 0.5rem;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.5rem;
            margin-left: 400px;
        }
        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display:flex;
            align-items: center;
        }
        .list-disc {
            list-style-type: disc;
            padding-left: 1.5rem;
        }
        .image-container img {
             width: 100%;
             height: 100%;
             object-fit: contain;
             object-position: center;
             background-color: white;
    }
        .error-404 {
            color: #ff2f2f;
            font-size: 24px;
            text-align: center;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .footer {
            width: 100%;
            bottom: 0;
            color: #56cfff;
            text-align: center;
            padding: 10px 0;
            background-color: #1e2736;
        }
        footer a {
            color: #58a6ff;
            text-decoration: none;
        }