    body {
        font-family: 'Inter', sans-serif;
        background: linear-gradient(#1e2736, #273346 );
        color: #2e2416;
        height: 100%;
        margin: 0;
        
    }

    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 2rem;
    }

    h1 {
        border-bottom: 2px solid #0f1a2e;
        padding-bottom: 0.5rem;
        margin-bottom: 1.5rem;
        color: aliceblue;
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: #ced4db;
    }

    p,
    ul {
        margin-bottom: 1rem;
        line-height: 1.6;
        color : #8eb1da;
    }

    li {
        margin-bottom: 0.5rem;
    }

    .back-link {
        display: inline-block;
        margin-bottom: 2rem;
        color: #58a6ff;
        text-decoration: none;
        transition: color 0.3s;
    }

    .back-link:hover {
        color: #79c0ff;
    }
    footer {
            width: 100%;
            bottom: 0;
            color: #56cfff;
            text-align: center;
            background-color: #1e2736;
            height: auto;
        }
    footer a {
            color: #58a6ff;
            text-decoration: none;
        }